.vscode/
.idea/
.idx/
packages/browser/lib/
packages/browser/types/
packages/browser/assets/
packages/node/bin/
packages/node/types/
packages/node/assets/
packages/scenegraph/lib/
packages/scenegraph/types/
node_modules*/
out/
*.pkg
*.bpk
*.tgz
desktop.ini
.DS_Store
